.sectionOfertas{
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sectionOfertas .pbackgraund{
    font-size: 350px;
    color: white;
    opacity: 0.05;
    font-weight: 900;
    position: absolute;
    left: -20%;
}